﻿body {
    font-family: 'Open Sans', sans-serif; /* font tipi */
    font-size: 14px; /* font büyüklüğü */
    background: black; /* arkaplan rengi */
    overflow-y: scroll; /* kaydırma çubuğu her zaman görünür olsun */
    cursor: default; /* fare imleci her zaman varsayılan şekilde görünsün */
    color: #ff0000; /* metin rengi */
}

a {
    text-decoration: none; /* bağlantıların altı çizili olmasın */
    color: white; /* bağlantı renkleri beyaz olsun */
}

#container {
    width: 1000px; /* genişlik */
    padding: 13px 16px; /* yukarı - aşağı 13px ; sağa - sola 16px */
    position: relative;
    margin: 13px auto; /* position: relative ve margin: auto kombinasyonu ile bu nesneyi sayfamızda yatayda ortaladık */
    box-shadow: 0 0 23px gray; /* nesne gölgelendirmesi. yatayda ve dikeyde kaydırma yapmadık. 10px blur verdik. rengi ise metin rengi ile aynı */
    border-radius: 0 26px; /* kenarlık yumuşatması */
    background: black; /* arkaplan rengi */
}

/* *** başlık *** */

header {
    width: 960px; /* genişlik */
    height: 120px; /* yükseklik */
    margin: auto;
    position: relative;
}

/* logo */

#logo {

    width: 400px;
    height: 90px;
    margin-top: 25px;
    position: relative;
    float: left; /* position: relative; float: left; kombinasyonu ile logo div'ini sola yasladı */
    background: url(../../Content/img/logom.png)no-repeat; /* arkaplan görseli */
    transition: opacity .3s ease-in-out; /* logonun üzerine gelince şeffaflığı için geçiş efekti uyguladı. */
    cursor: pointer; /* logonun üzerine gelince fare imleci el şeklinde olsun. */
}

    #logo:hover {
        opacity: .8; /* logonun üzerine gelince şeffaflığı %20 oranında azalacak. */
    }

/* sosyal medya */

#social-media {
    height: 48px;
    position: relative;
    top: 0;
    right: 0; /* position absolute top right 0 ile bu nesneyi header'ın sağ üst kısmına yerleştirdim. */
}
#social-media1 {
    height: 48px;
    position: relative;
    top: 0;
    right: 0; /* position absolute top right 0 ile bu nesneyi header'ın sağ üst kısmına yerleştirdim. */
}

.social {
    width: 48px;
    height: 48px;
    position: relative;
    float: right;
    margin-left: 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

    .social:hover {
        border-radius: 0 26px;
        box-shadow: 0 0 4px #000000; /* sosyal medya ikonlarının üzerine gelince kenarları yumuşayacak ve yeşil gölge efekti oluşacak. */
    }
/* sosyal medya ikonlarını ekledim*/
.facebook {
    background: url(../../Content/img/facebook.png);
}

.twitter {
    background: url(../../Content/img/twitter.png);
}

.youtube {
    background: url(../../Content/img/youtube.png);
}

.share {
    background: url(../../Content/img/share.png);
}

.rss {
    background: url(../../Content/img/rss.png);
}
.resimradius {
    border-radius: 25px;
    background: url(../../Content/img/hakkimizda.jpg);
    background-position: left top;
    background-repeat: no-repeat;
     box-shadow: 0 0 10px 3px gray;

    margin: auto;
    width: 930px;
    height: 400px;    
}

#search {
	width: 270px;
	padding: 5px;
	height: 30px;
	position: absolute;
	right: 0;
	bottom: 10px; /* position absolute right ve bottom değerleri ile bu nesneyi header sağ alt kısmına yerleştirdik */
	background: red;
	border-radius: 0 12px;
	box-shadow: 0 0 4px gray;
	color: #ff0000;
}

#search-area {
    width: 205px;
    height: 30px;
    line-height: 30px;
    text-indent: 8px;
    position: relative;
    float: left; /* position relative ve float left ile bu nesneyi #search div'in içinde sola yasladık. */
    border-radius: 0 8px;
    box-shadow: 0 0 2px #1c3564 inset;
    background: #f4f4f4; /* arkaplan rengi */
}

.search-text {
    width: 194px;
    height: 22px;
    border: 0; /* kenarlığı olmasın */
    outline: none; /* tıklandığı zaman sarı çerçeveyi gizlemek için */
    background: transparent; /* arkaplanı şeffaf olsun */
}

#search-button {
    width: 60px;
    height: 30px;
    line-height: 30px; /* metin dikeyde ortalasın. height ile aynı değerde olduğu sürece */
    text-align: center; /* metin yatayda ortalasın. */
    position: relative;
    float: left; /* position relative ve float left ile bu nesneyi #search div'in içinde sola yasladık. */
    margin-left: 5px; /* 5px lik sola boşluk verdik */
    border-radius: 0 8px;
    background: #000000;
    box-shadow: 0 0 2px 1px #1c3564 inset;
    transition: all .2s ease-in-out;
    cursor: pointer; /* fare imleci el şeklinde görünsün. bağlantı olduğu anlaşılsın. */
    outline: none;
}

    #search-button:hover {
        box-shadow: 0 0 10px 4px #1c3564 inset;
        text-shadow: 0 0 2px yellow;
        -webkit-text-shadow: 0 0 2px yellow;
        border-radius: 0 12px;
    }

    #search-button input[type="submit"] {
        background: transparent;
        border: none;
        color: white;
        outline: none;
    }


/* *** üst menü*** */

nav {
    width: 935px;
    height: 40px;
    font-weight: bold;
    line-height: 40px; /* metinleri dikeyde ortaladım. height değeri ile aynı olduğu sürece */
    text-align: center; /* metinleri merkezde ortaladım. */
    position: relative;
    margin: 15px auto; /* yukarı - aşağı 15px boşluk ve sağa - sola boşluk olmasın dedim. */
    box-shadow: 0 0 8px #000000; /* menünün gölgelendirmesi merkezde olsun. 4px bulanık olsun ve gölge rengi mavi olsun. */
    border-radius: 0 12px; /* kenarlar genel hatlarla uyumlu olarak 12px yumuşasın */
    background: black;
    cursor: pointer; /* fare imleci menünün üzerine gelince daima el şeklinde gözüksün. bağlantı olduğu anlaşılsın. */
}

.nav-item {
    width: 185px;
    height: 40px;
    position: relative;
    float: left; /* position relative ve float left ile nav-item nesnelerini "nav" içinde sola yasladık*/
    border-right: 1px solid #FCFCFD; /* sağa 1px'lik kenarlık verdik. */
    background: #ff0000;
    color: white;

    transition: all .3s ease-in-out;
}
/* nav daki ilk eleman*/
.first {
    border-radius: 0 0 0 12px;
    width: 188px;
}

/* nav daki ilk eleman*/
.last {
    border-radius: 0 12px 0 0;
    border: none;
}

.nav-item:hover {
    box-shadow: 0 0 12px gray inset; /* nesnelerin üzerine gelince 12px blurlu içe dönük mavi gölgelendirme efekti uyguladık. */
}

.nav-solutions {
    width: 184px;
    position: relative;
    background: #ff0000;
    color: white;
    border-top: 1px solid gray;
    box-shadow: 0 2px 4px gray; /* yukarıdan 2px aşağı doğru olsun; 4px blur olsun; rengi de mavi olsun. */
    border-radius: 0 0 12px 12px; /* sadece aşağı köşeleri yumuşasın. */
    transition: all .3s ease-in-out;
    opacity: 0; /* şeffaflığı ilk başta 0 olsun. */
    visibility: hidden;
    z-index: 9999; /* bütün nesnelerin en üstünde olsun. slider ile çakışmasın. yani slider'ın altında kalmasın. */
}

.nav-solutions-item {
    width: 184px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border-bottom: 1px solid gray; /* alt kenarlık uyguladık. */
}
.hidden{
display:none;
}

    .nav-solutions-item:hover {
        box-shadow: 0 0 12px gray inset;
    }

.solution-last {
    border-bottom: none;
    border-radius: 0 0 12px 12px;
}

.solutions:hover .nav-solutions {
    opacity: 1; /* çözümler menü elemanının üzerine gelince alt bağlantılar görünür olsun. */
    visibility: inherit;
}

/* *** content *** */

#content {
    width: 960px;
    margin: auto;
    position: relative;
    height: auto;
}

.content-text {
    text-align: justify;     /* metin iki yana yaslandı. */
    margin: 10px auto;
}

.content-text h2 {
    text-align: center; /* başlık ortalandı. */
    font-size: 22px;  
     color: rgb(198,198,188);
}

.content-text h3 {
    text-align: center;
    font-size: 20px;    
     color: rgb(198,198,188);
}

.content-text h1,h4,h5,h6 {
    text-align: center;    
    color:rgb(81,81,81);
}

strong{
 color:rgb(198, 198, 176);
}
b{
 color:rgb(128,128,128);
}

.img-left {
    width: 240px;
    position: relative;
    float: left; /* görsel metin içinde sola hizalandı. */
    margin: 0 15px 15px 0; /* görselin metinle içiçe geçmesi sorunu düzeltildi. */ /* yukarı ve sola dış boşluk vermedik. sağa ve aşağı 15px boşluk verdik. */
}

.hidden{
display:none;
}

.img-right {
    width: 140px;
    position: relative;
    float: right;
    margin: 0 0 15px 15px;
}


/* anasayfaKutus */

#anasayfaKutu {
    width: 960px;
    height: 304px;
    margin: auto;
    position: relative;
}

.anasayfaKutu {
    width: 200px;
    padding: 10px;
    height: 280px;
    position: relative;
    float: left;
    margin-left: 12px;
    text-align: center;
    background: white;
    border-radius: 0 26px;
    border: 2px solid white;
    box-shadow: 0 0 10px gray;
    transition: all .3s ease-in-out;
}

.anasayfaKutu:first-child {
    margin-left: 0;
}

.anasayfaKutu:hover {
    border-radius: 0 39px;
    box-shadow: 0 0 10px #0d6636;
}

.anasayfaKutu-img {
    position: relative;
    margin: auto;
    width: 104px;  
}

.anasayfaKutu h2 {
    font-size: 18px;
}

.anasayfaKutu-button {
    width: 80px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    position: relative;
    margin: 15px auto;
    color: white;
    background: #515151;
    border-radius: 0 8px;
    box-shadow: 0 0 2px gray inset;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.anasayfaKutu-button:hover {
    box-shadow: 0 0 10px 4px gray inset;
    border-radius: 0 12px;
}

/* *** footer *** */

footer {
    width: 960px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: relative;
    margin: 10px auto;
    box-shadow: 0 0 4px gray;
    border-radius: 0 12px;
    background: #ff0000;
    color: white;
}



/* *** alt sayfalar *** */

/* bize dair */

.img-left-box {
    width: 300px;
    height: 188px;
    position: relative;
    float: left;
    margin: 0 15px 15px 0;
    cursor: pointer;
}

.img-left-top {
    width: 300px;
    position: absolute;
    top: 0;
    border-radius: 0 24px;
    box-shadow: 0 0 2px black;
    transition: opacity .5s ease-in-out;
}

.img-left-bottom {
    width: 300px;
    position: absolute;
    top: 0;
}

.img-left-top:hover {
    opacity: 0;
}

/* referanslar */

.box-img {
    width: 902px;
    padding: 0 10px;
    position: relative;
    margin: auto;
    margin-bottom: 15px;
}

.tile {
    width: 190px;
    padding: 15px 10px;
    height: 220px;
    position: relative;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: center;
    background: gray;
    border-radius: 0 26px;
    border: 2px solid #ff0000;
    transition: all .4s ease-in-out;
}

.tile h3 {
    font-size: 14px;
    color: gray;
}

.tile:nth-of-type(4n+1) {
    margin-left: 0;
}

.tile-img {
    width: 180px;
    height: 120px;
    position: relative;
    margin: auto;
    border-radius: 0 12px;
    box-shadow: 0 0 2px 1px gray;
    transition: all .4s ease-in-out;
}

.anasayfa-img {
    width: 935px;
    height: 400px;
    position: relative;
    margin: auto;
    border-radius: 0 12px;
    box-shadow: 0 0 2px 1px gray;
    transition: all .4s ease-in-out;
}

.tile-button {
    width: 80px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    position: relative;
    margin: 15px auto;
    color: white;
    background: #ff0000;
    border-radius: 0 8px;
    box-shadow: 0 0 2px gray inset;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.tile-button:hover {
    box-shadow: 0 0 10px 4px gray inset;
    border-radius: 0 12px;
}

.active {
    border-radius: 0 36px;
    transition: all .4s ease-in-out;
}

.active:hover .tile-img{
    border-radius: 0 26px;
}

.passive {
    border-radius: 0 16px;
    box-shadow: 0 0 80px 10px white inset;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    transition: all .4s ease-in-out;
}

/* Donanım */

.solution-option-container a {
    color: white;
}

.solution-option {
    width: 520px;
    height: 100px;
    line-height: 100px;
    font-size: 46px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background: #ff0000;
    border-radius: 0 26px;
    border: 2px solid #0d6636;
    box-shadow: 0 0 10px gray;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.solution-option:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
}


/* Donanımlar */

.package {
    width: 800px;
    height: 180px;
    position: relative;
    margin: 10px auto;
    background: white;
    border-radius: 0 26px;
    border: 2px solid #0d6636;
    box-shadow: 0 0 10px gray;
    transition: all .4s ease-in-out;
}

.package:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
}

.package-img {
     height:100px;
    width: 110px;
    position: relative;
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 0 12px;
    box-shadow: 0 0 2px 1px gray;
    transition: all .4s ease-in-out;
}

.package-details-1 {
    width: 180px;
    padding: 10px 10px 10px 30px;
    height: 160px;
    position: relative;
    float: left;
    border-radius: 0 26px;
}

.package-details-2 {
    width: 260px;
    padding: 10px 10px 10px 30px;
    height: 160px;
    position: relative;
    float: left;
    border-radius: 0 26px;
}

.package-button {
    width: 100px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: center;
    color: white;
    background: #ff0000;
    border-radius: 0 8px;
    box-shadow: 0 0 2px gray inset;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.package-button:hover {
    box-shadow: 0 0 10px 4px gray inset;
    border-radius: 0 12px;
}

.newsread {
    display: none;
}

.package-button:hover .newsgo {
    display: none;
}

.package-button:hover .newsread {
    display: inherit;
}

/* iletişim */
.register {
    width: 400px;
    height: 120px;
    float: center;
    background: url(../../Content/img/f-l.png)no-repeat;
    transition: opacity .3s ease-in-out; 
    cursor: pointer; 
}

    .register:hover {
        opacity: .8; /*  üzerine gelince şeffaflığı %20 oranında azalacak. */
    }
#google-maps {
    width: 800px;
    height: 420px;
    position: relative;
    margin: auto;
    border-radius: 0 26px;
    overflow: hidden;
    box-shadow: 0 0 10px 2px gray, 0 0 20px 10px #ff0000 inset;
}
.kucuk-video-tasarim {
    width: 220px;
    height: 220px;
    position:left;
    margin: 30px 0px 30px 0px;
    border-radius: 0 26px;
    overflow: hidden;
    box-shadow: 0 0 10px 2px gray, 0 0 20px 10px #ff0000 inset;
	float:center-left;
}

.video-tasarim {
    width: 800px;
    height: 420px;
    position: relative;
    margin: auto;
    border-radius: 0 26px;
    overflow: hidden;
    box-shadow: 0 0 10px 2px gray, 0 0 20px 10px #ff0000 inset;
}

#contact-form {
    width: 440px;
    padding: 20px;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 2px gray;
    border-radius: 0 26px;
    overflow: hidden;
    background: #ff0000;
    color: white;
}

.contact-line {
    width: 440px;
    height: 36px;
    line-height: 36px;
    position: relative;
    margin-top: 8px;
}
.contact-line select {
   width: 320px;
    height: 36px;
    line-height: 36px;
    position: relative;
    margin-top: 8px;
	box-shadow: 0 0 10px 2px gray;
    border-radius: 0 26px;
    overflow: hidden;
    background: white;
    color: black;
	float:right;
}

.contact-col1 {
    width: 120px;
    height: 36px;
    position: relative;
    float: left;
    font-weight: bold;
}

.contact-col2 {
    width: 320px;
    height: 36px;
    position: relative;
    float: left;
}


.obligation-button {
    width: 200px;
    height: 26px;
    line-height: 20px;
    position: relative;
    float: right;
    font-size: 12px;
    top: 0;
    right: 0;
    text-align: center;
    border-radius: 0 8px;
    background: gray;
    cursor: pointer;
    color: white;
    outline: none;
}

.input {
    width: 316px;
    height: 30px;
    position: relative;
    float: left;
    outline: none;
    border-radius: 0 12px;
    font-size: 16px;
    text-indent: 10px;
    border-color: transparent;
    box-shadow: 0 0 1px 1px #0d6636;
    transition: all .3s ease-in-out;
}

.message {
    height: 220px;
}

.textarea {
    width: 296px;
    padding: 10px;
    height: 200px;
    outline: none;
    resize: none;
    border-color: transparent;
    border-radius: 0 12px;
    box-shadow: 0 0 1px 1px #0d6636;
    transition: all .3s ease-in-out;
}

.contact-button {
    width: 80px;
    height: 32px;
    line-height: 24px;
    position: relative;
    float: right;
    top: 10px;
    right: 0;
    text-align: center;
    border-radius: 0 12px;
    background:#7A6E6E;
    cursor: pointer;
    color: white;
    outline: none;
}

.HDD-button {
    
    height: 32px;
    line-height: 24px; 
    text-align: center;
    border-radius: 0 12px;
    background:#7A6E6E;
    cursor: pointer;
    color: white;
    outline: none;
    margin: 10px;

}

.hesap-HDD {
    width: 600px;
    padding: 20px;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 2px gray;
    border-radius: 0 26px;
    overflow: hidden;
    background: #ff0000;
    color: white;
}